.vscode/



#data
*.ipynb_checkpoints
data/Parameters.xlsx

# manuscript

NEE_submission/

# presentation
presentation/presentation.pptx
presentation/allison_lab_20200527.pptx

# literature
literature/SummaryDescRefs.pdf