.vscode/

# notebooks
*.ipynb_checkpoints

#data


# manuscript

# presentation
presentation/~$presentation.pptx
presentation/~$allison_lab_20200527.pptx

# literature
literature/~$Literature_legacy_v0.5.xlsx
literature/SummaryDescRefs.pdf