.vscode/

#data
*.ipynb_checkpoints

# manuscript
writing/NEE_submission/
writing/*.docx

# presentation
presentation/figure_list.pptx
presentation/allison_lab_20200527.pptx

# literature
literature/SummaryDescRefs.pdf
literature/*.pdf